# Git
.git
.gitignore

# Node
node_modules
package-lock.json

# PHP / Composer
vendor

# Laravel storage cache & logs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# IDE / editor files
.idea
.vscode

# Environment
.env
.env.local

# MacOS / Windows
.DS_Store
Thumbs.db
